@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    
}

header, menu {
    background-color: gray;
    padding: 10px;
    

}

ul, li{
    list-style-type: none;
    padding: 5px;
}

h2,p{
    width: 500px;
    
}
