@charset "UTF-8";

@media screen and (max-width: 600px) {

    header{
        position: fixed;
        width: 100vw;
        background-color: rgb(49, 49, 241);
    }

    #logo-lelo{
        height: 70px;
    }

    #marketing{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #marketing > a {
        display: flex;
        align-items: center;
        color: white;
    }

    #menu-g{
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7px;
    }

    main{
        width: 100vw;
        height: 80vh;
        display: flex;
        row-gap: 20px;
        flex-wrap: wrap;
    }
    
    section{
        display: flex;
        flex-direction: column;
        margin-top:20px;
        width: 90vw;
        row-gap: 10px;
    } 

    article{
        text-align: center;
        width: 500px;
    }

    p{
        margin: 5px;
        padding: 10px;
    }

    
    
}