@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(232, 254, 255);
}

header{
    position: fixed;
    width: 100vw;
    background-color: rgb(49, 49, 241);
}



.marketing{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu-contato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

#menu-contato > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

#menu-contato > a:hover {
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: underline;
    
}

#menu-g{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    background-color:rgb(23, 23, 158);
    box-shadow: inset -3px -3px rgb(11, 11, 107);
}

#menu-g > a {
    padding: 10px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    
}

#menu-g > a:hover{
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: underline;
    text-shadow: 2px 2px 1px black;
}

main {
    padding-top:80px;
    width: 100vw;
    height: 80vh;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
    margin-top:20px;
    width: 90vw;
    row-gap: 10px;
} 

#logo-lelo {
    width: 200px;
    height: 120px;
}

#foto1 {
    margin: auto;
    display: block;
    width: 100vw;
    height: 500px;
    background: white url(../imagens/fachada1.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}

#foto2 {
    margin: auto;
    display: block;
    width: 100vw;
    height: 400px;
    background: white url(../imagens/fachada2.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}

#foto3 {
    margin: auto;
    display: block;
    width: 100vw;
    height: 300px;
    background: white url(../imagens/fachada3.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}

article {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color:white;
    text-shadow: 2px 2px 1px black;
    padding:10px;
}

p {
    margin: 5px;
    padding: 10px;
    font-size:1.5em;
    color:black;
    
}

footer {
    position: static;
    bottom: 1px;
    width: 100vw;
    height: 10vh;
    background-color: rgb(49, 49, 241);
}

#logo-lelo2 {
    height: 70px;
}