@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(232, 254, 255);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(3, 3, 158);
    box-shadow: 2px 2px 5px black;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
}

#logol{
    height: 70px;
    padding: 5px;
}

.div-list ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
}

.nav-item{
    padding: 10px;
}

.nav-item > a {
    color: white;
}

.nav-item > a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

main{
    width: 100vw;
    height: 90vh;
}
div.mmain{
    margin-top: 90px;
    padding: 20px 0px;
    background-color: aquamarine;
}

.back-img{
    width: 100vw;
    height: 400px;
    background:url(../imagens/fachada2.png) no-repeat center center ;
    background-size: cover;
    background-attachment: fixed;
}

article{
    text-align: center;
}

h1{
    padding:9px;
}

p{
    padding:9px;
}