@charset "UTF-8"


html,body{
    height: 100vh;
    width: 100vw;
}

body{
    
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#pc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 550px;
    background:url(../imagens/pc-frame.png) no-repeat;
}

iframe.tela{
    position: relative;
    top:20px ;
    left:51px;
    width: 400px;
    height: 268px;
}

#social-media{
    text-align: right;
    
}

section#social-media img{
    width: 40px;
    margin: 10px;
    border-radius: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.808);
    box-sizing: border-box;
}

section#social-media img:hover {
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.918);
    transform: translate(-3px,-3px);
    transition: transform .5s, border .3s;
}

img#moa{
    background-color: white;
}

.button{
    background-color:gray;
}

img.button{
    width: 20px;
}