*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/png_20230823_190255_0000.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}